<h3>Users Index page</h3>

{{#each users}}
  <p>Name: {{name}}</p>
  <p>Email: {{email}}</p>
  <p>Age: {{age}}</p>
  <p>Underage: {{underage}}</p>
  <p>Posts: {{posts.length}}</p>
  <div class="controls">
    <a href="/users/{{id}}">Show</a> |
    <a href="/users/{{id}}/edit">Edit</a>
    <form method="POST" action="/users/{{id}}">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>
  </div>

  <hr>
{{/each}}
