<h3>{{name}}</h3>

<p>Name: {{name}}</p>
<p>Email: {{email}}</p>
<p>Age: {{age}}</p>
<p>Posts:</p>

<ul>
  {{#each posts}}
    <li>{{description}}</li>
  {{/each}}
</ul>

<a href="/users/{{id}}/posts/new">Add new post</a>
<br>
<a href="/users">Back to users index</a>
